name = "remix-cloudflare-demo"
type = "javascript"
workers_dev = true
# account_id = "Or specified with process.env.CF_ACCOUNT_ID"
# zone_id = "Or specified with process.env.CF_ZONE_ID"
# route = "example.com/*"
kv_namespaces = [
  {binding = "REDIRECTS", id = "c63d04a74b494e8998f70261a05feb2f", preview_id = "44a74f09f0874a0191ccec26861cd0ed"},
]

[site]
bucket = "./public"
entry-point = "."

[build]
command = "npm run build"
watch_dir = "app"

[build.upload]
format = "service-worker"
